* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

body {
    display: block;
    min-width: 1024px;
    width: 100%;
    min-height: 600px;
    height: 600px;
    color: #222222;
    font-family: "Tahoma",Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    background: #e7e7e2 url(../img/bg.jpg) repeat left top;
}

#barra-brasil{
    height: 32px;
    background: #f1f1f1;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: content-box;
}

div#wrapper-barra-brasil {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    height: 100%;
}

#barra-brasil .brasil-flag {
    float: left;
    padding: 7px 0 6px;
    width: 115px;
    /* border-right: 2px solid #dfdfdf; */
}

#barra-brasil .brasil-flag a{
    text-decoration: none;
    color: #606065;
    text-transform: uppercase;
}

#barra-brasil .brasil-flag .link-barra{
    display: block;
    padding-left: 42px;
    width: 43px;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2219%22%20viewBox%3D%220%200%201000%20700%22%3E%3Cpath%20fill%3D%22%2300923F%22%20d%3D%22M0%200h1000v700H0z%22%2F%3E%3Cpath%20fill%3D%22%23F8C300%22%20d%3D%22M500%2085L85%20350l415%20265%20415-265L500%2085z%22%2F%3E%3Ccircle%20fill%3D%22%2328166F%22%20cx%3D%22499%22%20cy%3D%22350%22%20r%3D%22174%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M395%20296c103%200%20199%2038%20272%20101%202-8%204-17%205-26-75-61-172-98-277-98-18%200-36%201-53%203-3%208-6%2016-9%2025%2020-3%2041-4%2063-4z%22%2F%3E%3C%2Fsvg%3E) 8px center no-repeat;
    text-transform: uppercase;
    line-height: 19px;
}

nav {
    display: block;
}

/* #barra-brasil div, #barra-brasil a, #barra-brasil ul, #barra-brasil li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    border: none;
} */

ul#lista-barra-brasil li{
    display: inline;
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid #dfdfdf;

}

ul#lista-barra-brasil li a{
    text-decoration: none;
    color: #606065;
    font-size: 12px;
}

#barra-brasil .list {
    position: absolute;
    top: 0;
    right: 40px;
    width: auto;
}

div {
    font-size: 11px;
    font-size: 0.69rem;
}

/*         Libras          */

#barra-brasil #brasil-vlibras {
    position: absolute;
    top: 0;
    right: 0;
}

#barra-brasil #brasil-vlibras .logo-vlibras {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOSIgaGVpZ2h0PSIyOSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI2Ni4yNTAzOCwtMjMxLjY4NTk0KSI+PHBhdGggZD0ibTI5Mi40IDIzNy44Yy0wLjEgMC0wLjItMC4xLTAuMi0wLjIgMC0xLTEuOC0yLjYtNC4xLTIuNmwtMi41IDAtNC44IDMuNi00LjgtMy42LTIuNSAwYy0yLjQgMC00LjEgMS42LTQuMSAyLjYgMCAwLjEtMC4xIDAuMi0wLjIgMC4yLTAuMSAwLTAuMi0wLjEtMC4yLTAuMiAwLTEuNCAyLjEtMy4xIDQuNi0zLjFsMi40IDAgMC42LTAuNmMwLjEtMC4xIDAuMi0wLjEgMC4zIDBsMy45IDQuNiAzLjktNC42YzAuMS0wLjEgMC4yLTAuMSAwLjMgMGwwLjYgMC42IDIuNCAwYzIuNSAwIDQuNiAxLjcgNC42IDMuMSAwIDAuMS0wLjEgMC4yLTAuMiAwLjJ6bS0zIDEwLjRjLTAuMSAwLjctMC4yIDEtMC4zIDEgMCAwLjEtMC4xIDAuMS0wLjIgMC4xLTAuMSAwLTAuMS0wLjEtMC4xLTAuMiAwIDAgMC4xLTAuMyAwLjItMC45IDAuMS0wLjYtMC4yLTEuMS0wLjItMS4xIDAtMC4xIDAtMC4yIDAuMS0wLjIgMC4xIDAgMC4xIDAgMC4yIDAgMCAwIDAgMCAwIDAuMSAwIDAgMC4zIDAuNiAwLjIgMS4zem0tMSAwLjhjMCAwLjEtMC4xIDAuMS0wLjIgMC4xLTAuMSAwLTAuMS0wLjEtMC4xLTAuMiAwIDAgMC4xLTAuMyAwLjEtMC45IDAtMC42LTAuMy0xLjEtMC4zLTEuMSAwLTAuMSAwLTAuMiAwLjEtMC4yIDAuMSAwIDAuMSAwIDAuMiAwIDAgMCAwIDAgMCAwIDAgMCAwLjMgMC42IDAuMyAxLjMgMCAwLjctMC4xIDEtMC4yIDF6bS0wLjctMC40Yy0wLjMgMS4yLTAuOCAyLjItMC45IDIuNi0wLjIgMC40LTAuMyAwLjktMC4yIDIuMiAwIDEuMyAwIDIuMi0wLjEgMi41IDAgMC4yLTAuMiAwLjMtMC40IDAuMy0wLjIgMC0wLjMtMC4xLTAuNC0wLjQtMC4xLTAuNS0wLjMtMi42LTAuMy0yLjkgMC0wLjItMC4yLTAuNC0wLjMtMC40LTAuMSAwLTAuMiAwLjEtMC4zIDAuNS0wLjIgMC45LTAuNSAzLjEtMC42IDMuNi0wLjEgMC41LTAuMyAwLjYtMC40IDAuNi0wLjEgMC0wLjEgMC0wLjEgMCAwIDAgMCAwIDAgMC0wLjEgMC0wLjQgMC0wLjQtMC40IDAtMC41IDAuNC0zLjUgMC40LTMuOCAwLTAuMiAwLTAuMy0wLjEtMC4zLTAuMSAwLTAuMSAwLjEtMC4yIDAuMi0wLjMgMC40LTEuNyAyLjktMi4xIDMuNy0wLjEgMC4yLTAuMiAwLjItMC40IDAuMi0wLjEgMC0wLjIgMC0wLjMtMC4xLTAuMS0wLjEtMC4zLTAuNC0wLjItMC42IDAuMS0wLjIgMS41LTMuNCAxLjctMy44IDAuMS0wLjMgMC4xLTAuNS0wLjEtMC41LTAuMSAwLTAuMiAwLjEtMC40IDAuMi0wLjUgMC41LTIuNCAyLjUtMi43IDIuNy0wLjEgMC4xLTAuMiAwLjItMC4zIDAuMi0wLjEgMC0wLjItMC4xLTAuMy0wLjItMC4yLTAuMi0wLjItMC40LTAuMS0wLjYgMC4yLTAuMiAyLjYtMy4zIDMtNC4xIDAuNC0wLjcgMS0xLjktMC4yLTEuOS0wLjEgMC0wLjEgMC0wLjIgMC0wLjUgMC0wLjggMC4xLTEuMSAwLjEtMC41IDAtMC43LTAuMS0wLjgtMC4xLTAuMi0wLjEtMC42LTAuMy0wLjUtMC42IDAuMS0wLjIgMC43LTAuMSAxLTAuMiAwLjItMC4xIDAuMi0wLjEgMC4yLTAuMSAwIDAgMS4xLTAuMyAxLjgtMC43IDAuNy0wLjQgMi4zLTEuMSAyLjctMS4xIDAuMiAwIDAuNC0wLjEgMC42LTAuMSAwLjMgMCAwLjYgMCAwLjcgMC4xIDAuMyAwLjEgMC42IDAuOSAyIDEuNSAwIDAgMC42IDAuNiAwLjMgMS44em0tMTEuNyAyLjJjLTAuNC0xLjItMC42LTIuMy0wLjYtMi43LTAuMS0wLjQtMC4zLTAuOS0xLTEuOS0wLjctMS0xLjItMS44LTEuMy0yLjEtMC4xLTAuMiAwLjEtMC41IDAuNC0wLjUgMC4xIDAgMC4yIDAgMC4zIDAuMiAwLjQgMC40IDEuNyAyIDEuOSAyLjIgMC4xIDAuMSAwLjMgMC4yIDAuNCAwLjIgMC4yIDAgMC4yLTAuMSAwLjEtMC42LTAuMy0wLjktMS4zLTIuOS0xLjUtMy4zLTAuMy0wLjcgMC4xLTAuNyAwLjEtMC43IDAgMCAwLjEtMC4xIDAuMi0wLjEgMC4xIDAgMC4yIDAgMC4zIDAuMiAwLjIgMC40IDEuNiAzLjIgMS44IDMuNCAwLjEgMC4xIDAuMiAwLjIgMC4zIDAuMiAwLjEgMCAwLjEtMC4xIDAuMS0wLjMgMC0wLjUtMC4yLTMuMy0wLjMtNC4yIDAtMC4zIDAuMy0wLjUgMC41LTAuNSAwIDAgMCAwIDAgMCAwLjIgMCAwLjQgMC4yIDAuNSAwLjQgMC4xIDAuMiAwLjYgMy43IDAuNyA0LjIgMCAwLjIgMC4yIDAuNCAwLjMgMC40IDAuMSAwIDAuMi0wLjEgMC4zLTAuNCAwLjEtMC43IDAuNy0zLjQgMC43LTMuNyAwLTAuMyAwLjItMC40IDAuNC0wLjQgMCAwIDAuMSAwIDAuMSAwIDAuMiAwIDAuNCAwLjIgMC40IDAuNSAwIDAuMy0wLjMgMy43LTAuMiA0LjgtMC41IDAuMi0xIDAuNC0xLjMgMC40bDAgMCAwIDAtMC4yIDAuMWMwIDAtMC4xIDAtMC4yIDAtMC40IDAtMSAwLTEuMyAwLjYtMC4xIDAuMy0wLjIgMC42LTAuMSAwLjggMC4yIDAuNSAwLjggMC44IDAuOSAwLjkgMCAwIDAgMCAwIDAgMC4yIDAuMSAwLjUgMC4yIDEuMSAwLjIgMC4zIDAgMC42IDAgMS4xLTAuMS0wLjEgMC4yLTAuMiAwLjQtMC4zIDAuNmwtMC4xIDAuMWMtMC4yIDAuMy0wLjggMS4yLTEuOCAyLjUtMC4yIDAtMC4zIDAtMC41IDAtMC4zIDAtMC42IDAtMC45IDAuMSAwIDAtMC44LTAuMS0xLjMtMS4zem0wLjggMi4yYzAgMC4xLTAuMSAwLjEtMC4yIDAuMSAwIDAgMCAwLTAuMSAwIDAgMC0wLjYtMC4yLTEtMC44LTAuNC0wLjYtMC41LTAuOS0wLjUtMC45IDAtMC4xIDAtMC4yIDAuMS0wLjIgMC4xIDAgMC4yIDAgMC4yIDAuMSAwIDAgMC4xIDAuMyAwLjQgMC44IDAuNCAwLjUgMC45IDAuNyAwLjkgMC43IDAuMSAwIDAuMSAwLjEgMC4xIDAuMnptLTAuOSAwLjRjMCAwLjEtMC4xIDAuMS0wLjEgMC4xIDAgMC0wLjEgMC0wLjEgMCAwIDAtMC42LTAuMy0wLjktMC45LTAuNC0wLjYtMC40LTAuOS0wLjQtMSAwLTAuMSAwLjEtMC4yIDAuMS0wLjIgMC4xIDAgMC4yIDAuMSAwLjIgMC4xIDAgMCAwIDAuMyAwLjQgMC44IDAuMyAwLjUgMC44IDAuOCAwLjggMC44IDAuMSAwIDAuMSAwLjEgMC4xIDAuMnptMTQuOS0yMS44LTIwLjIgMGMtMi40IDAtNC40IDItNC40IDQuNGwwIDIwLjJjMCAyLjQgMiA0LjQgNC40IDQuNGwyMC4yIDBjMi40IDAgNC40LTIgNC40LTQuNGwwLTIwLjJjMC0yLjQtMi00LjQtNC40LTQuNCIgZmlsbD0iIzFjNGY5YyIvPjwvZz48L3N2Zz4K) 8px center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 32px;
    display: block;
}

#barra-brasil #brasil-vlibras .link-vlibras {
    height: 0;
    top: 32px;
    transition: 0.1s;
    width: 166px !important;
    display: block;
    border: 2px solid #dfdfdf;
    color: #606060;
    visibility: hidden;
    position: relative;
}

/*         Barra azul sigaa          */
#sigaa a {
    float: left;
    width: auto;
    margin: 8px 0 0 12px;
    color: #FFFFFF;
    text-decoration: none;
}

#barra-sigaa{
    background-color: #4e5e9c;
    width: 100%;
    height: 30px;
}

#sigaa{
    width: 1024px;
    height: 30px;
    margin: 0 auto;
}
/*     Corpo      */
main{
    width: 1024px;
    height: 737px;
    border: 1px solid red;
    margin: 0 auto;
}

#container-main{
    width: 98%;
    height: 97%;
    margin: 10px 10px;
    border: 1px solid green;
}

.acess_div_esquerda {
    padding: 5px;
    min-height: 24px;
    min-height: 1.5em;
    /* background-color: #2F3A60; */
    background: #404E82;
    background-color: rgb(64, 78, 130);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.ul_div_esquerda {
    float: left;
    width: 372px;
}

ul.acessibility li {
    display: inline;
}

.acessibilidade_link a {
    color: #FFFFFF;
    text-decoration: none;
}

.ul_div_direita {
    float: right;
    /* min-width: 30%; */
    width: 305px;
    text-transform: uppercase;
}

li a, li span {
    line-height: 1.2em;
}

mark {
    background-color: #cad2cc;
    color: #195128;
    padding: 0 2px 0 3px;
}

/*    Topo     */

#cabeçalho-main #topo_site {
    display: block;
    width: 100%;
    height: auto;
    /* background-color: #505897; */
    /* background-image: linear-gradient(to bottom, #2F3A60, #505897); */
    background: #404E82;
    background-color: rgb(64, 78, 130);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

#topo_site #logo {
    display: inline-block;
    *float: left;
    width: 190px;
    height: auto;
    text-align: center;
    vertical-align: top;
    padding: 10px;
}

#topo_site #nomes {
    display: inline-block;
    *float: left;
    width: 682px;
    height: 100%;
    margin: 0 0 0 10px;
    vertical-align: top;
}

#nomes .nome_programa {
    display: block;
    width: 60%;
    float: left;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    padding-top: 18px;
}

.nome_programa a {
    color: #FFFFFF;
}

#nomes .telefone_programa {
    float: right;
    width: 40%;
    display: block;
    text-align: right;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    color: #FFFFFF;
    margin-top: 5px;
}

#nomes .url_programa {
    display: block;
    width: 60%;
    float: left;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    color: #7d97fe;
}

img {
    border: none;
}

/*        Configurações do menu            */

/* #menu{
    display: table;
}

#menu ul{
    display: table-row;
}

#menu ul{
    display: table-cell;
} */

.menu {
    /* display: block; */
    width: 100%;
    height: 26px;
    background-color: #2F3A60;
    border-bottom: #3B4878 solid 1px;
}

.menu .primeiro {
    border-left: none;
}

.menu .item-menu {
    float: left;
    padding: 7px 0 0 10px;
    height: 20px;
    *height: 21px;
    color: #FFFFFF;
    font-weight: bold;
}

.menu span.item-menu {
    cursor: pointer;
}

/* .menu .sub-menu {
     display: none; 
    padding: 10px 10px 5px 10px;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 11;
    background: #3B4878;
} */

.menu .sub-menu {
    float: left;
    padding: 0 10px 0 0;
    position: relative;
    border-left: #3B4878 solid 1px;
    z-index: 10;
    height: 27px;
    background: #2F3A60;
}

.menu .sub-menu a {
    display: block;
    width: auto;
    color: #FFFFFF;
    white-space: nowrap;
}

.menu .sub-itens li {
    border-top: 1px solid #2F3A60;
    padding: 10px 0 5px 0;
}

.menu .sub-itens .primeiro {
    border: 0;
    padding: 0 0 5px 0;
}

.menu .sub-itens {
    padding: 10px 10px 5px 10px;
    position: absolute;
    top: 26px;
    left: 0;
    /* z-index: 11; */
    background: #3B4878;
} 

.menu .li-menu {
    float: left;
    padding: 0 10px 0 0;
    position: relative;
    border-left: #3B4878 solid 1px;
    z-index: 10;
    height: 27px;
}

nav ul li ul{
    display: none;
}

nav ul li:hover ul{
    display: block;
}

/* li {
    vertical-align: top;
    line-height: 1.2em;
} */

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}